<%- include ('../partials/header') %>
</head>
<body>
    <h1>
        <div><%= dicho.dicho %></div>        
    </h1>
    <% if (messages.message) { %>
        <p>
            <%= messages.message %>
        </p>    
    <% } %>
    <div><%= dicho.meaning %></div>
    <div><%= dicho.example %></div>
    <div><%= dicho.variations %></div>
    <div><%= dicho.comments %></div>
    
    <% if (dicho.suggestions) { %>
        <h3>Suggestions</h3>
        <% for (let i = 0; i < dicho.suggestions.length; i++) { %>
            <div> 
                Suggestion <%= i + 1 %>: <%= dicho.suggestions[i] %> 
            </div>
        <% } %>
    <% } %>

    <a href="/admin/edit-dicho/<%= dicho._id %>">Edit</a>
<%- include ('../partials/footer') %>