<%- include ('../partials/header') %>
</head>
<body>
    <h1>
        <%= sub.dicho %>
    </h1>

    <!-- FLASH MESSAGE -->
    <% if (messages.message) { %>
        <p>
            <%= messages.message %>
        </p>
    <% } %>

    <!-- submitting form goes to /admin/acceptDicho -->
    <form action="/admin/<%= id %>/accept-sub" method="POST">
        <div>
            <label for="dicho">Dicho</label>
            <input type="text" id="dicho" name="dicho" value="<%= sub.dicho %>">
        </div>
        <div>
            <label for="meaning">Meaning</label>
            <input type="text" id="meaning" name="meaning" value="<%= sub.meaning %>">
        </div>
        <div>
            <label for="example">Example</label>
            <input type="text" id="example" name="example" value="<%= sub.example %>">
        </div>
        <div>
            <label for="variations">Variations</label>
            <input type="text" id="variations" name="variations" value="<%= sub.variations %>">
        </div>
        <div>
            <label for="comments">Comments</label>
            <input type="text" id="comments" name="comments" value="<%= sub.variations %>">
        </div>
        <div>
            <button type="submit">
                Accept
            </button>
        </div>
    </form>
<%- include ('../partials/footer') %>